doctype html

html
	head
		title 404

	body 
		p 您要找的页面不存在!
		p 将在 <span class='count-down'>5</span>s 后将跳转回首页。
		script.
			let countDown = 5
			let countDownSpan = document.querySelector('.count-down')
			setInterval(()=>{
				countDown--
				countDownSpan.innerText=countDown
			},1000)
			setTimeout(()=>{
				location.href ='/'
			},5000)