doctype html

html
	head
		title 创建帖子 - 吧唧BBS
		link(rel="stylesheet",href="/common.css")
		link(rel="stylesheet",href="/add-post.css")
	body
		include header.pug
		form(action='/post' method='post')
			div
				input(type="text" placeholder="标题：" name="title")
			div
				textarea(name="content", cols="30", rows="10")
			button 发布帖子

		include footer.pug