doctype html

html

	head
		//- 填了title就用填的，默认的是下面的
		block title
			title 吧唧
		link(rel="stylesheet", href="/common.css")
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
		block head-content
	body
		include header.pug

		block content

		include footer.pug

		