extends base.pug

block content
	form(action="/login", method="post")
		div 用户名:
		input(type="text", name="name")
		div 密码：
		input(type="password", name="password")
		div: button 登录
	script.
		let loginForm = document.querySelector('form')
		loginForm.onsubmit=function(e){
			e.preventDefault()
			$.post('/login',{
				//返回jQuery XHR对象,实现了promise的接口
				name:loginForm.elements.name.value,
				password:loginForm.elements.password.value
			}).then(result=>{
				if(result.code===0){
					alert('登陆成功，将跳转回首页')
					location.href='/'
				}else{
					alert('登陆失败！')
				}
			})
		}