#field {
  width: 200px;
  height: 150px;
  border: 10px solid black;
  background-color: #00ff00;
  overflow: hidden;
  position: relative;
}
#gym {
  height: 250px;
  display: none
}
#ball {
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s all;
}
.menu ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none;
}
.menu .title {
  font-size: 18px;
  cursor: pointer;
}
.menu .title::before {
  content: "▶ ";
  color: green;
}

.menu.open .title::before {
  content: "▼ ";
  color: green;
}
.menu.open ul {
  display: block;
}
.tree span:hover {
  font-weight: bold;
}

.tree span {
  cursor: pointer;
}
.selected {
  background: #b3c9ce;
}

li {
  cursor: pointer;
}
body {
  height: 2000px;
  /* the tooltip should work after page scroll too */
}

.tooltip {
  position: fixed;
  z-index: 100;

  padding: 10px 20px;

  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#house {
  margin-top: 50px;
  width: 400px;
  border: 1px solid brown;

}

#roof {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 20px solid brown;
  margin-top: -20px;
}

p {
  text-align: justify;
  margin: 10px 3px;
}

.tooltip {
  position: fixed;
  z-index: 100;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#tree,#gym,#house,.menu{
  display: none
}